Add gzipmiddleware to prevent breach

[django.middleware.gzip.GZipMiddleware](https://docs.djangoproject.com/en/4.2/ref/middleware/#django.middleware.gzip.GZipMiddleware)

@stitch: How does this relate to #414?


```bash
curl -sSfA '' 'https://www.google.com/' -H 'Accept-Encoding: gzip' \
  -D/dev/stderr 2> >(grep -i --color=never ^content-e >&2) \
| xxd -l 10 -u -g1 | cut -d\  -f2-11
```
```
content-encoding: gzip
1F 8B 08 00 00 00 00 00 02 FF
```

See [RFC 1952 section 2.3 - Member format](https://www.rfc-editor.org/rfc/rfc1952.html#page-5)):
```
         +---+---+---+---+---+---+---+---+---+---+
         |ID1|ID2|CM |FLG|     MTIME     |XFL|OS | (more-->)
         +---+---+---+---+---+---+---+---+---+---+
```
`ID1 = 1F, ID2 = 8B, CM = 08` (deflate)

[Heal The Breach (HTB)](https://en.wikipedia.org/wiki/BREACH#Mitigation) works mainly with putting random (length) data in the (file)name, comment or extra field(s):
```
         FLG (FLaGs)
            This flag byte is divided into individual bits as follows:

               bit 0   FTEXT
               bit 1   FHCRC
               bit 2   FEXTRA
               bit 3   FNAME
               bit 4   FCOMMENT
```
Normally I only see `02` or `04` in the XFL (eXtra FLags), but somehow the dashboard now returns `00`. The OS flag I find is either `03` (Unix), `00` - FAT filesystem (MS-DOS, OS/2, NT/Win32) or `FF` - unknown. Also the MTIME is not `00 00 00 00` what I normally see.

The current result from acc dashboard:
```
1F 8B 08 00 00 09 6E 88 00 FF
```
@stitch: Is there an URL on acc that I can test for BREACH?